<header class="header">
 <div class="container-fluid">
   <div class="header-content">
      <div class="row d-flex align-items-center justify-content-between">
        <div class="col-lg-2 d-flex justify-content-end">
          <div class="header-content_logo">
            <img class="header-content_logo__img" src="../img/Logo_copy.png" alt="logo">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="header-content_navbar">
            <div class="header-content_navbar__items">
              <a href="#" class="header-content_navbar__items_link">home</a>
              <a href="#" class="header-content_navbar__items_link">recipes</a>
              <a href="#" class="header-content_navbar__items_link">photo galleries</a>
              <a href="#" class="header-content_navbar__items_link">videos</a>
              <a href="#" class="header-content_navbar__items_link">all categories</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="header-content_search">
            <input type="search" class="header-content_search__input">
          </div>
        </div>
      </div>
   </div>
 </div>
</header>