<article class="container">
  <div class="section bgImage">
    <div class="col-lg-12">
      <div class="section_logo">
        <img class="section_logo__img" src="../img/Logo_copy.png" alt="logo">
      </div>
      <div class="section_title">
        <span class="section_title__span">Bananas Foster Ice Cream Cake</span>
      </div> 
      <div class="section_text">
        <p class="section_text__p">
          If you're looking for decadence, look no further —<br>
          you've found the Holy Grail of desserts. Honestly, <br>
          this cake makes us wonder why Bananas Foster <br>
          hasn't always been served on top of ice cream <br>
          cake.
        </p>
      </div>
      <div class="section_link">
        <a class="section_link__a" href="#">get a recipe</a>
      </div>
      <div class="section_ellipses"> 
        <img class="section_ellipses__img" src="../img/Ellipse_2.png" alt="ellipse">
        <img class="section_ellipses__img" src="../img/Ellipse_2.png" alt="ellipse">
        <img class="section_ellipses__img" src="../img/Ellipse_2_copy_2.png" alt="ellipseGray">
        <img class="section_ellipses__img" src="../img/Ellipse_2.png" alt="ellipse">
        <img class="section_ellipses__img" src="../img/Ellipse_2.png" alt="ellipse">
      </div>
    </div>
  </div>
</article>