//fonts 
$josefin_normal: 'josefin_normal';
$playfair_normal: 'playfair_normal';

//colors 
$--color-primary-1: #000; 
$--color-primary-2: #fff;
$--color-primary-3: #c2c2c2;
$--color-primary-4: #921026;